<!-- Contact -->
<section id="contact">
	<div class="inner">
		<section>
			<form action="https://formspree.io/{{ site.email }}" method="POST">
				<div class="field half first">
					<label for="name">Name</label>
					<input type="text" name="name" id="name" />
				</div>
				<div class="field half">
					<label for="email">Email</label>
					<input type="text" name="_replyto" id="email" />
				</div>
				<div class="field">
					<label for="message">Message</label>
					<textarea name="message" id="message" rows="6"></textarea>
				</div>
				<ul class="actions">
					<li><input type="submit" value="Send Message" class="special" /></li>
					<li><input type="reset" value="Clear" /></li>
				</ul>
			</form>
		</section>
		<section class="split">
			<section>
				<div class="contact-method">
					<a href="#subscribe"><span class="icon alt fa-envelope"></span>
					<h3>Subscribe</h3>
					<!-- Begin Mailchimp Signup Form -->
<style type="text/css">
	#mc_embed_signup{background: transparent; clear:left; font:14px Helvetica,Arial,sans-serif;  width:450px;}
	</style>
<div id="mc_embed_signup">
<form action="https://gmail.us20.list-manage.com/subscribe/post?u=0ca5eddc51470fcff85c9439e&amp;id=151e59991c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
	<label for="mce-EMAIL">Subscribe to Our Newsletter </label>
	<br/>
	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
	<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_0ca5eddc51470fcff85c9439e_151e59991c" tabindex="-1" value=""></div>
	<br/>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div>

<!--End mc_embed_signup-->
					</a>
				</div>
			</section>
			<section>
				<div class="contact-method">
					<a href="{{ site.discord_url }}" target="_blank"><span class="icon alt fa-comment"></span>
					<h3>Discord</h3>
					<span>{{ site.discord }}</span></a>
				</div>
			</section>
			<section>
				<div class="contact-method">
					<a href="{{ site.twitter_url }}" target="_blank"><span class="icon alt fa-twitter"></span>
					<h3>Twitter</h3>
					<span>
						{{ site.twitter }}
					</span></a>	</div>			
			</section>
			<section>
				<div class="contact-method">
					<a href="{{ site.code-conduct_url }}" target="_blank"><span class="icon alt fa-star"></span>
					<h3>CODE OF CONDUCT</h3>
					<span>
						{{ site.twitter }}
					</span></a>	</div>			
			</section>
		</section>
	</div>
</section>

<!-- Footer -->
	<footer id="footer">
		<div class="inner">
			<div class="row">
				<span style="text-align:center;"><h5>Brought to you by:</h5>
					<p><a href="{{ site.devopsdays_url }}" target="_blank"><img src="assets/images/devopsdays-SQ.png" width="180"></a>&nbsp;&nbsp;<a href="{{ site.statscraft_url }}" target="_blank"><img src="assets/images/statscraft-SQ.png" width="180">&nbsp;&nbsp;<a href="{{ site.cloudnative_url }}" target="_blank"><img src="assets/images/cloudnative-SQ.png" width="180">&nbsp;&nbsp;<a href="{{ site.devseccon_url }}" target="_blank"><img src="assets/images/devseccon-SQ.png" width="180">&nbsp;&nbsp;<a href="https://www.meetup.com/DevRel/" target="_blank"><img src="assets/images/devrel-il-SQ.png" width="160"></p></span>
			</div>
			<ul class="icons">
				{% if site.twitter_url %}
				<li><a href="{{ site.twitter_url }}" class="icon alt fa-twitter" target="_blank"><span class="label">Twitter</span></a></li>
				{% endif %}
				{% if site.facebook_url %}
				<li><a href="{{ site.facebook_url }}" class="icon alt fa-facebook" target="_blank"><span class="label">Facebook</span></a></li>
				{% endif %}
				{% if site.pinterest_url %}
				<li><a href="{{ site.pinterest_url }}" class="icon alt fa-pinterest" target="_blank"><span class="label">Pinterest</span></a></li>
				{% endif %}
				{% if site.github_url %}
				<li><a href="{{ site.github_url }}" class="icon alt fa-github" target="_blank"><span class="label">GitHub</span></a></li>
				{% endif %}
				{% if site.slack_url %}
				<li><a href="{{ site.discord_url }}" class="icon alt fa-comment" target="_blank"><span class="label">Discord</span></a></li>
				{% endif %}
				{% if site.linkedin_url %}
				<li><a href="{{ site.linkedin_url }}" class="icon alt fa-linkedin" target="_blank"><span class="label">LinkedIn</span></a></li>
				{% endif %}
				
			</ul>
			
			<ul class="copyright">
				<li>&copy; {{ site.title }} {{ site.subtitle }}</li>
				<li>Big thanks for the awesome design: <a href="https://html5up.net" target="_blank">HTML5 UP</a></li>
				<li>Thanks for the Jekyll integration: <a href="http://andrewbanchi.ch" target="_blank">Andrew Banchich</a></li>

			</ul>
		</div>


	    {% include GA-Code.html %}
	
	</footer>

</div>

<!-- Scripts -->
	<script src="{{ "assets/js/jquery.min.js" | absolute_url }}"></script>
	<script src="{{ "assets/js/jquery.scrolly.min.js" | absolute_url }}"></script>
	<script src="{{ "assets/js/jquery.scrollex.min.js" | absolute_url }}"></script>
	<script src="{{ "assets/js/skel.min.js" | absolute_url }}"></script>
	<script src="{{ "assets/js/util.js" | absolute_url }}"></script>
	<!--[if lte IE 8]><script src="{{ "assets/js/ie/respond.min.js" | absolute_url }}"></script><![endif]-->
	<script src="{{ "assets/js/main.js" | absolute_url }}"></script>
